<main>
    
    <!-- Cards Lançamentos -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
              <h2 class="products-dock-title">Lançamentos</h2>
              <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Aproveite os últimos lançamentos!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/lancamentos/dragon-ball-sparking-zero.jpg" title="Dragon Ball Sparking! Zero" alt="Dragon Ball Sparking Zero">

                <mat-card-title class="single-line-name" title="Dragon Ball Sparking! Zero">Dragon Ball Sparking! Zero</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 255,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/lancamentos/god-of-war-ragnarok.jpg" title="God of War Ragnarok" alt="God of War Ragnarok">

                <mat-card-title class="single-line-name" title="God of War Ragnarok">God of War Ragnarok</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-20%</span>
                    <button class="product-button" title="Comprar">R$ 190,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/lancamentos/metaphor-refantazio.jpg" title="Metaphor ReFantazio" alt="Metaphor ReFantazio">

                <mat-card-title class="single-line-name" title="Metaphor ReFantazio">Metaphor ReFantazio</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 140,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/lancamentos/silent-hill-2.jpg" title="Silent Hill 2" alt="Silent Hill 2">

                <mat-card-title class="single-line-name" title="Silent Hill 2">Silent Hill 2</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-15%</span>
                    <button class="product-button" title="Comprar">R$ 366,90</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/lancamentos/sonic-shadow-generation.jpg" title="Sonic X Shadow Generation" alt="Sonic X Shadow Generation">

                <mat-card-title class="single-line-name" title="Sonic Shadow Generation">Sonic X Shadow Generation</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 300,00</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Cards Ofertas Especiais -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
              <h2 class="products-dock-title">Ofertas Especiais</h2>
              <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Aproveite os nossos descontos!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-especiais/mortal-kombat-1.jpg" title="Mortal Kombat 1" alt="Mortal Kombat 1">

                <mat-card-title class="single-line-name" title="Mortal Kombat 1">Mortal Kombat 1</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-65%</span>
                    <button class="product-button" title="Comprar">R$ 97,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-especiais/tekken-8.jpg" title="Tekken 8" alt="Tekken 8">

                <mat-card-title class="single-line-name" title="Tekken 8">Tekken 8</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-20%</span>
                    <button class="product-button" title="Comprar">R$ 269,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-especiais/soulcalibur-vi.jpg" title="Soulcalibur VI" alt="Soulcalibur VI">

                <mat-card-title class="single-line-name" title="Soulcalibur VI">Soulcalibur VI</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-30%</span>
                    <button class="product-button" title="Comprar">R$ 160,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-especiais/jujutsu-kaisen-cursed-clash.jpg" title="Jujutsu Kaisen Cursed Clash" alt="Jujutsu Kaisen Cursed Clash">

                <mat-card-title class="single-line-name" title="Jujutsu Kaisen Cursed Clash">Jujutsu Kaisen Cursed Clash</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-15%</span>
                    <button class="product-button" title="Comprar">R$ 396,90</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-especiais/dragonball-fighter-z.jpg" title="Dragon Ball Fighter Z" alt="Dragon Ball Fighter Z">

                <mat-card-title class="single-line-name" title="Dragon Ball Fighter Z">Dragon Ball Fighter Z</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 300,00</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Banner 1 -->
    <section id="section-banner" class="container grid-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/banners/dying-light.jpg" class="d-block w-100" alt="Banner Dying Light">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/manor-lords.jpg" class="d-block w-100" alt="Banner Manor Lords">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/mortal-kombat-11.jpg" class="d-block w-100"
                        alt="Banner Mortal Kombat 11">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Cards From Software -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
              <h2 class="products-dock-title">From Software</h2>
              <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Desfrute do melhor do soulslike!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/from-software/elden-ring.jpg" title="Elden Ring" alt="Elden Ring">

                <mat-card-title class="single-line-name" title="Elden Ring">Elden Ring</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 255,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/from-software/sekiro-shadows-die-twice.jpg" title="Sekiro Shadows Die Twice" alt="Sekiro Shadows Die Twice">

                <mat-card-title class="single-line-name" title="Sekiro Shadows Die Twice">Sekiro Shadows Die Twice</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-20%</span>
                    <button class="product-button" title="Comprar">R$ 180,89</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/from-software/dark-souls-III.jpg" title="Dark Souls III" alt="Dark Souls III">

                <mat-card-title class="single-line-name" title="Dark Souls III">Dark Souls III</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-4%</span>
                    <button class="product-button" title="Comprar">R$ 194,69</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/from-software/boodborne.jpeg" title="Boodborne" alt="Boodborne">

                <mat-card-title class="single-line-name" title="Boodborne">Boodborne</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-15%</span>
                    <button class="product-button" title="Comprar">R$ 166,90</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/from-software/demons-souls.png" title="Demon's Souls" alt="Demon's Souls">

                <mat-card-title class="single-line-name" title="Demon's Souls">Demon's Souls</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-30%</span>
                    <button class="product-button" title="Comprar">R$ 140,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Cards Ubisoft -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
              <h2 class="products-dock-title">Ubisoft</h2>
              <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Jogos com até 80% de desconto!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ubisoft/assassins-creed-valhalla.jpg" title="Assassin's Creed Valhalla" alt="Assassin's Creed Valhalla">

                <mat-card-title class="single-line-name" title="Assassin's Creed Valhalla">Assassin's Creed Valhalla</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-20%</span>
                    <button class="product-button" title="Comprar">R$ 159,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ubisoft/far-cry-6.jpg" title="Far Cry 6" alt="Far Cry 6">

                <mat-card-title class="single-line-name" title="Far Cry 6">Far Cry 6</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-30%</span>
                    <button class="product-button" title="Comprar">R$ 139,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ubisoft/watch-dogs-2.jpg" title="Watch Dogs 2" alt="Watch Dogs 2">

                <mat-card-title class="single-line-name" title="Watch Dogs 2">Watch Dogs 2</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-40%</span>
                    <button class="product-button" title="Comprar">R$ 119,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ubisoft/rainbow-six-siege.jpg" title="Rainbow Six Siege" alt="Rainbow Six Siege">

                <mat-card-title class="single-line-name" title="Rainbow Six Siege">Rainbow Six Siege</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-80%</span>
                    <button class="product-button" title="Comprar">R$ 36,90</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ubisoft/tom-clancys-ghost-recon.jpg" title="Ghost Recon Wildlands" alt="Ghost Recon Wildlands">

                <mat-card-title class="single-line-name" title="Ghost Recon Wildlands">Ghost Recon Wildlands</mat-card-title>
    
                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 300,00</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Banner 2 -->
    <section id="section-banner" class="container grid-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/banners/hotline-miami.jpg" class="d-block w-100" alt="Banner Dying Light">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/manager-24.jpg" class="d-block w-100" alt="Banner Manor Lords">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/mullet-mad-jack.jpg" class="d-block w-100" alt="Banner Mortal Kombat 11">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Cards Capcom -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
                <h2 class="products-dock-title">Capcom</h2>
                <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Jogos com até 70% de desconto!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/capcom/resident-evil-4.jpg" title="Resident Evil 4" alt="Resident Evil 4">

                <mat-card-title class="single-line-name" title="Resident Evil 4">Resident Evil 4</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-30%</span>
                    <button class="product-button" title="Comprar">R$ 139,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/capcom/monster-hunter-rise.jpg" title="Monster Hunter Rise" alt="Monster Hunter Rise">

                <mat-card-title class="single-line-name" title="Monster Hunter Rise">Monster Hunter Rise</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-40%</span>
                    <button class="product-button" title="Comprar">R$ 119,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/capcom/devil-may-cry-5.jpg" title="Devil May Cry 5" alt="Devil May Cry 5">

                <mat-card-title class="single-line-name" title="Devil May Cry 5">Devil May Cry 5</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-50%</span>
                    <button class="product-button" title="Comprar">R$ 99,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/capcom/street-fighter-v.jpg" title="Street Fighter V" alt="Street Fighter V">

                <mat-card-title class="single-line-name" title="Street Fighter V">Street Fighter V</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-60%</span>
                    <button class="product-button" title="Comprar">R$ 79,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/capcom/dragons-dogma-2.jpg" title="Dragon's Dogma 2" alt="Dragon's Dogma 2">

                <mat-card-title class="single-line-name" title="Dragon's Dogma 2">Dragon's Dogma 2</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-70%</span>
                    <button class="product-button" title="Comprar">R$ 59,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Cards Warner -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
                <h2 class="products-dock-title">Warner</h2>
                <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Jogos com até 90% de desconto!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/warner/lego-star-wars.jpg" title="LEGO Star Wars: The Sky Walker Saga" alt="LEGO Star Wars: The Sky Walker Saga">

                <mat-card-title class="single-line-name" title="LEGO Star Wars: The Sky Walker Saga">LEGO Star Wars: The Sky Walker Saga</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-10%</span>
                    <button class="product-button" title="Comprar">R$ 179,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/warner/back-for-blood.jpg" title="Back for Blood" alt="Back for Blood">

                <mat-card-title class="single-line-name" title="Back for Blood">Back for Blood</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-90%</span>
                    <button class="product-button" title="Comprar">R$ 37,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/warner/mortal-kombat-11.jpg" title="Mortal Kombat 11" alt="Mortal Kombat 11">

                <mat-card-title class="single-line-name" title="Mortal Kombat 11">Mortal Kombat 11</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-80%</span>
                    <button class="product-button" title="Comprar">R$ 20,69</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/warner/injustice-gods-among-us.jpg" title="Injustice: Gods Among Us" alt="Injustice: Gods Among Us">

                <mat-card-title class="single-line-name" title="Injustice: Gods Among Us">Injustice: Gods Among Us</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-86%</span>
                    <button class="product-button" title="Comprar">R$ 12,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/warner/batman.jpg" title="Batman Arkham Collection" alt="Batman Arkham Collection">

                <mat-card-title class="single-line-name" title="Batman Arkham Collection">Batman Arkham Collection</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-90%</span>
                    <button class="product-button" title="Comprar">R$ 27,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Banner 3 -->
    <section id="section-banner" class="container grid-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/banners/dying-light.jpg" class="d-block w-100" alt="Banner Dying Light">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/manor-lords.jpg" class="d-block w-100" alt="Banner Manor Lords">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/banners/mortal-kombat-11.jpg" class="d-block w-100"
                        alt="Banner Mortal Kombat 11">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Cards Devolver -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
                <h2 class="products-dock-title">Devolver</h2>
                <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Jogos com até 90% de desconto!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/devolver/carrion.jpg" title="Carrion" alt="Carrion">

                <mat-card-title class="single-line-name" title="Carrion">Carrion</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-70%</span>
                    <button class="product-button" title="Comprar">R$ 11,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/devolver/gato-roboto.jpg" title="Gato Roboto" alt="Gato Roboto">

                <mat-card-title class="single-line-name" title="Gato Roboto">Gato Roboto</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-75%</span>
                    <button class="product-button" title="Comprar">R$ 6,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/devolver/the-messenger.jpg" title="The Messenger" alt="The Messenger">

                <mat-card-title class="single-line-name" title="The Messenger">The Messenger</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-80%</span>
                    <button class="product-button" title="Comprar">R$ 7,69</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/devolver/gunbrella.jpg" title="Gunbrella" alt="Gunbrella">

                <mat-card-title class="single-line-name" title="Gunbrella">Gunbrella</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-85%</span>
                    <button class="product-button" title="Comprar">R$ 4,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/devolver/death's-door.jpg" title="Death's Door" alt="Death's Door">

                <mat-card-title class="single-line-name" title="Death's Door">Death's Door</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-75%</span>
                    <button class="product-button" title="Comprar">R$ 13,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <!-- Cards Ofertas da Semana -->
    <mat-grid-list cols="5" class="grid-container">
        <header class="products-dock-header">
            <div>
                <h2 class="products-dock-title">Ofertas da Semana</h2>
                <a class="btn__primary btn__small" href="/vermais.html">Ver mais</a>
            </div>
            <h3 class="products-dock-subtitle">Todas as nossas promoções em um só lugar!</h3>
        </header>

        <!-- Jogo 1-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-da-semana/cataclismo.jpg" title="Cataclismo" alt="Cataclismo">

                <mat-card-title class="single-line-name" title="Cataclismo">Cataclismo</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-20%</span>
                    <button class="product-button" title="Comprar">R$ 66,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 2-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-da-semana/deadlink.jpg" title="Deadlink" alt="Deadlink">

                <mat-card-title class="single-line-name" title="Deadlink">Deadlink</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-30%</span>
                    <button class="product-button" title="Comprar">R$ 51,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 3-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-da-semana/zelter.jpg" title="Zelter" alt="Zelter">

                <mat-card-title class="single-line-name" title="Zelter">Zelter</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-40%</span>
                    <button class="product-button" title="Comprar">R$ 35,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 4-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-da-semana/deflector.jpg" title="Deflector" alt="Deflector">

                <mat-card-title class="single-line-name" title="Deflector">Deflector</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-50%</span>
                    <button class="product-button" title="Comprar">R$ 29,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>

        <!-- Jogo 5-->
        <mat-grid-tile>
            <!-- Card -->
            <mat-card class="game-card" appearance="outlined">
                <img mat-card-image src="assets/img/games/ofertas-da-semana/thought-experiment-simulator.jpg" title="Thought Experiment Simulator" alt="Thought Experiment Simulator">

                <mat-card-title class="single-line-name" title="Thought Experiment Simulator">Thought Experiment Simulator</mat-card-title>

                <mat-card-actions>
                    <span class="desconto" title="Desconto">-90%</span>
                    <button class="product-button" title="Comprar">R$ 27,99</button>
                    <span class="add-favoritos">
                        <a href="">
                            <img src="assets/img/icones/icone-favoritos.png" title="Favoritos" alt="icone-favoritos">
                        </a>
                    </span>
                </mat-card-actions>                  
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

</main>