<div class="footer">
  <div class="Fsection">
    <!-- Sub-Menu-->
    <div class="Farticle-FooterSubMenu">
      <div class="grid-container d-flex justify-content-center align-items-center">
        <div class="row gx-5 custom-gx">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
            <h4>Institucional</h4>
            <ul>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/quemsomos.html">Quem somos</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/termosecondicoes.html">Termos e Condições</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/segurancaeprivacidade.html">Segurança e Privacidade</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
            <h4>Dúvidas</h4>
            <ul>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/como-comprar.html">Como comprar</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/prazos-e-entregas.html">Prazos e entregas</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/formas-de-pagamento.html">Formas de Pagamento</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
            <h4>Cliente</h4>
            <ul>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/login.html">Minha conta</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/cadastro.html">Meus pedidos</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="/carrinho.html">Meus tickets</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
            <h4>Contato</h4>
            <ul>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="atendimento.html">atendimento&#64;ngstore.com.br</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="#">0800 4002-8922</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-chevron-right hidden-xs"></i>
                <a href="fale-conosco.html">Fale conosco</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Redes Sociais-->
    <div class="Farticle-FooterSocial">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 ">
            <h4 class="text-center">Siga-nos nas redes sociais</h4>
            <ul class="list-inline justify-content-center">
              <li class="list-inline-item me-4">
                <a href="https://www.facebook.com/" target="_blank">
                  <img src="assets/img/icones/icone-facebook.png" alt="Ícone Facebook" />
                </a>
              </li>
              <li class="list-inline-item me-4">
                <a href="https://www.instagram.com/" target="_blank">
                  <img src="assets/img/icones/icone-instagram.png" alt="Ícone Instagram" />
                </a>
              </li>
              <li class="list-inline-item me-4">
                <a href="https://www.twitter.com/" target="_blank">
                  <img src="assets/img/icones/icone-twitter.png" alt="Ícone Twitter" />
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/" target="_blank">
                  <img src="assets/img/icones/icone-youtube.png" alt="Ícone Youtube" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <!-- Informações da loja-->
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 d-flex flex-column align-items-center">
        <ul class="list-unstyled">
          <li class="mb-3">
            <img src="assets/img/logo/logo-ng-store.png" alt="NGStore" />
          </li>
          <li class="Cinza mb-1">
            NG STORE VAREJO DE PRODUTOS DE INFORMATICA LTDA
          </li>
          <li class="Cinza mb-3">CNPJ: 02.933.972/0001-98 | Curitiba-PR</li>
        </ul>
        <ul class="list-unstyled">
          <li class="mb-1">
            ATENDIMENTO <br />
            De segunda a sexta das 8:30 às 12H / 13H às 18H
          </li>
          <li class="mb-1">0800 4002-8922</li>
          <li class="mb-3">atendimento&#64;ngstore.com.br</li>
          <li class="Cinza">E-COMMERCE E ATENDIMENTO LOCAL</li>
        </ul>
      </div>
    </div>
  </div>
</footer>