<header>
    
    <div class="container-header-1 grid-container">

        <!-- Logo -->
        <span>
            <a routerLink="inicio">
                <img class="logo" src="assets/img/logo/logo-ng-store.png" alt="Logo">
            </a>
        </span>

        <!-- Barra de Pesquisa -->
        <div class="search-bar">
            <form class="d-flex">
                <input class="form-control me-1" type="search" placeholder="Digite o que você procura..."
                    aria-label="Pesquisar">
                <img src="assets/img/icones/icone-pesquisa.png" alt="Ícone Pesquisa" class="search-icon">
            </form>
        </div>

        <!-- Ícones de Login, Favoritos e Carrinho -->
        <div class="icons">
            <div class="login-icon">
                <a routerLink="login">
                    <img class="icone-login" src="assets/img/icones/icone-login.png" alt="Entrar">
                </a>
            </div>

            <div class="favorites-icon">
                <a routerLink="favoritos">
                    <img class="icone-favoritos" src="assets/img/icones/icone-favoritos.png" alt="Favoritos">
                </a>
            </div>

            <div class="cart-icon">
                <a routerLink="carrinho">
                    <img class="icone-carrinho" src="assets/img/icones/icone-carrinho.png" alt="Carrinho">
                </a>
            </div>
        </div>

    </div>

    <div class="container-header-2 grid-container">
        <!-- Menu de Categorias -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5">
                        </path>
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/dept.html">DEPARTAMENTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria1.html">PROMOÇÕES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria2.html">NOTEBOOKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria3.html">PC GAMER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria4.html">JOGOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categoria5.html">ATENDIMENTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>